$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 20px;
}

#search-results {
  overflow: auto;
  height: 85vh;
  padding-right: 1em;
}

.sections {
  &.table td:first-child {
    min-width: 10em;
  }

  .location, .type, .waitlist {
    display: none;
  }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 1023px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    padding-right: 1em;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -74%;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -75%;
  }
  .row-offcanvas-right.active {
    right: 80%;
  }
  .row-offcanvas-left.active {
    left: 80%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 75%;
  }
  .row-offcanvas {
    overflow: hidden;
  }
  .row-offcanvas.active {
    overflow: visible;
  }
}

@media (min-width: 600px) {
  .sections {
    .location, .type, .waitlist {
      display: table-cell;
    }
  }
}


#search-form {
  padding-bottom: 1em;
}

#schedule .fc-toolbar {
  display: none;
}

.fc-unthemed .fc-today {
  background: inherit;
}

.course .panel-body {
  font-size: 0.9em;
}

.course .sections {
  margin-bottom: 0;
}

#semesters {
  margin-bottom: 1em;
}
