<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="The fastest course browser at Illinois Tech">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pop</title>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/fullcalendar/dist/fullcalendar.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-sm-12 col-md-8">
          <section id="search-form">
            <div class="input-group">
              <input type="text" class="form-control" id="search" placeholder="Search courses for...">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Go!</button>
                <button type="button" class="btn btn-success" data-toggle="offcanvas"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                <!-- <a class="btn btn-default" role="button" data-toggle="collapse" href="#options" aria-expanded="false" aria-controls="options">
                  Options
                </a> -->
              </span>
            </div>
            <div class="row collapse" id="options">
              <div class="col-md-3 options">
                <div class="checkbox">
                  <strong>Search in:</strong>
                  <label>
                    <input type="checkbox" id="search-desc" checked> Course descriptions
                  </label>
                  <label>
                    <input type="checkbox" id="search-sect" checked> Section descriptions
                  </label>
                </div>
              </div>
              <div class="col-md-3 options">
                <div class="radio">
                  <strong>Result format:</strong><br>
                  <label>
                    <input type="radio" name="result-format" id="result-sm"> Just title
                  </label>
                  <label>
                    <input type="radio" name="result-format" id="result-med"> Title and description
                  </label>
                  <label>
                    <input type="radio" name="result-format" id="result-big" checked> Everything
                  </label>
                </div>
              </div>
              <div class="col-md-4 options">
                <div class="checkbox">
                  <strong>Other:</strong>
                  <label>
                    <input type="checkbox" id="show-links" checked> Show links (like to course catalog)
                  </label>
                  <label>
                    <input type="checkbox" id="collapse-sim" checked> Collapse five or more similar sections
                  </label>
                  <label>
                    <input type="checkbox" id="hide-no-sections" checked> Hide courses without sections
                  </label>
                </div>
              </div>
            </div>
          </section>
          <section id="search-results">
            <div id="defaultcontent">
              <h1>Pop</h1>
              <h2>A course browser for Illinois Tech</h2>
              <p>
                Pop replaces Banner's complex interface with one simple search box, except there's no search button
                because searching is instant. It searches all courses available for the Fall 2016 semester, just
                type something in the orange bar to get started! You can type pretty much anything, including:
              </p>
              <ul>
                <li>CRNs: <a class="example" href="javascript:search('10564')">10564</a></li>
                <li>Places: <a class="example" href="javascript:search('siegel')">siegel</a></li>
                <li>Professors: <a class="example" href="javascript:search('twombly')">twombly</a></li>
                <li>Departments: <a class="example" href="javascript:search('itm')">itm</a></li>
                <li>Course titles: <a class="example" href="javascript:search('comp graphics')">comp graphics</a></li>
                <li>Days of the week: <a class="example" href="javascript:search('mwf')">mwf</a></li>
                <li>Course descriptions: <a class="example" href="javascript:search('leadership')">leadership</a></li>
                <li>Course abbreviations: <a class="example" href="javascript:search('econ211')">econ211</a></li>
                <li>Any combination of the above: <a class="example" href="javascript:search('hist comp mw')">hist comp mw</a></li>
              </ul>
            </div>

            <div id="results">
              <script id="courseTemplate" type="text/x-jsrender">
              <div class="course panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title text-center">{{> name}}: {{> title}}</h4>
                </div>
                <div class="panel-body">
                  <p>{{> description}}</p>
                  <p>{{if credit_hours.length}}<span class="label label-primary">{{hideDecimal:credit_hours}} credit(s)</span>{{/if}} {{for attributes}}<span class="label label-info">{{> #data}}</span> {{/for}}</p>
                  {{for semesters}}
                  <table class="sections table table-hover">
                    <caption>Sections ({{> name}})</caption>
                    <thead>
                      <tr>
                        <th class="crn">CRN</th>
                        <th class="type">Type</th>
                        <th class="time">Time</th>
                        <th class="location">Location</th>
                        <th class="instructors">Instructor(s)</th>
                        <th class="enrollment">Enrolled</th>
                        <th class="waitlist">Waitlisted</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{for sections}}
                      <!-- TODO: we want to show multiple meeting times! -->
                      <tr class="section" id="section{{> crn }}">
                        <td class="crn">
                          <div class="btn-group" role="group">
                            <a href="javascript:;" onclick="addToCart({{> crn }})" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-shopping-cart"></i> {{> crn}}</a>
                            <a href="https://my102.iit.edu/banr/bwckschd.p_disp_detail_sched?term_in=201710&amp;crn_in={{> crn}}" target="_blank" class="btn btn-info btn-sm" title="View detailed section information"><i class="glyphicon glyphicon-info-sign"></i></a>
                          </div>
                        </td>
                        <td class="type">{{> meetings[0].type}}: {{> meetings[0].schedule_type}}</td>
                        <td class="time">{{> meetings[0].days}} {{> meetings[0].time}}</td>
                        <td class="location">{{> meetings[0].where}}</td>
                        <td class="instructors">{{> meetings[0].instructors}}</td>
                        <td class="enrollment"><strong>{{> enrolled}}</strong>/{{> capacity}}</td>
                        <td class="waitlist">{{> waitlist_enrolled}}</td>
                      </tr>
                      {{/for}}
                    </tbody>
                  </table>
                  {{/for}}
                </div>
                <div class="panel-footer">
                  <a class="btn btn-info btn-sm" href="https://my102.iit.edu/banr/bwckctlg.p_disp_course_detail?cat_term_in={{> semesters[0].code}}&amp;subj_code_in={{deptName:name}}&amp;crse_numb_in={{courseNum:name}}" target="_blank" title="Opens in a new window"><i class="glyphicon glyphicon-book"></i> View in course catalog</a>
                  <a class="btn btn-info btn-sm" href="javascript:;" onclick="$(this).parents('div.course').find('form').submit()"><i class="glyphicon glyphicon-star"></i> View course evaluations</a>
                  <form action="http://retention.iit.edu/course_eval_summary_result.php" method="post" target="_blank"><input type="hidden" name="course[]" value="{{deptName:name}}{{courseNum:name}}"><input type="hidden" name="instructor[]" value="BLANK"></form>
                </div>
              </div>
              </script>
            </div>
            <p id="no-results" class="hidden text-center text-warning">0 results</p>
          </section>
          <div class="footer">
            <p>
              Copyright &copy; 2016 Clarify, made by <a href="https://tendian.io/" target="_blank">Eric Tendian</a>
            </p>
          </div>
        </div>
        <div class="col-sm-8 col-md-4 sidebar-offcanvas" id="sidebar">
          <a href="https://docs.google.com/forms/d/1UUUToFeFLF-Am3t4LQmmWjMfIoAja5bXGm1XRzx609Y/viewform" target="_blank" class="pull-right btn btn-info btn-sm">Feedback?</a>
          <!-- <div id="register-section">Ready to register? <a href="javascript:cart.checkCRNs()">Check if these sections are full</a></div> -->
          <div id="cart">
            <script id="cartTemplate" type="text/x-jsrender">
            <h4>Cart</h4>
            <ul class="list-group small">
              {{if cart.length===0}}
              <p>No saved courses for {{> semester}}</p>
              {{/if}}
              {{for cart}}
              <li class="list-group-item">{{> name}}: {{> title}} - {{> section.crn }} <button type="button" class="close" aria-label="Close" onclick="removeFromCart({{> section.crn }})"><span aria-hidden="true">&times;</span></button></li>
              {{/for}}
            </ul>
            </script>
          </div>
          <div class="schedule-container">
            <h4>Your Schedule</h4>
            <div id="schedule"></div>
          </div>
          <div id="semesters">
            <!-- switch between semesters here -->
          </div>
        </div>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <script src="/bower_components/elasticsearch/elasticsearch.jquery.js"></script>
    <script src="/bower_components/jsrender/jsrender.js"></script>
    <script src="/bower_components/jquery-typewatch/jquery.typewatch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
